.ingredient_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  cursor: pointer;
}

.item_price {
  display: flex;
  gap: 8px;
}

.ingredient_block img {
  height: 120px;
}
