
.container{
    max-width: 600px;
    /* border: 1px solid var(--interface-accent); */
    margin-top: -1px
}
.ingredients_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 40px;
}

.ingredients_list:last-child{
    margin-bottom: 0;
}
.ingredient_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item_price{
    display: flex;
    gap: 8px;
}

.ingredient_block img{
    height: 120px;
}

.ingredients_container{
    max-height: 68vh;
    overflow-y: scroll;
}

.tab:focus-visible{
    outline: none;
}
.tab_link{
    color: var(--dark-gray-secondary-text);
    text-decoration: none;
}
.tab_type_current.tab_link{
    color: var(--primary-light-standart-text);
}