.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container img {
  height: 240px;
  margin-bottom: 16px;
}

.ingredient_info {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}
.ingredient_info_item {
  color: var(--dark-gray-secondary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.title {
  width: 100%;
}
