.container {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.header {
    /* border: 2px solid var(--interface-accent); */
    background-color: var(--modal-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_link {
    display: flex;
    gap: 8px;
    align-items: center;
    /* border: 1px solid var(--interface-accent); */
    color: var(--primary-light-standart-text);
    text-decoration: none;
    border-radius: 40px;
}

.nav_section {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}
.nav_section:last-child{
    justify-content: flex-end;
}